* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  color: #444;
  position: relative;
}

.main {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  border-top: 10px solid #1098ad;
  background-color: #f7f7f7;
  padding: 20px;
}

.post-img {
  width: 100%;
  height: auto;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
  margin-top: 40px;
}

.post-header {
  margin-bottom: 20px;
}

nav {
  font-size: 18px;
}

aside img {
  margin-right: 10px;
}

footer p {
  font-size: 17px;
}

h1, h2, h3 {
  color: #1098ad;
}

h1 {
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 20px;
  position: relative;
}

h2::after {
  content: "TOP";
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(255, 231, 14);
  color: #444;
  position: absolute;
  padding: 5px 10px;
  top: -19px;
  right: -20px;

}

h3 {
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

p {
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 15px;
}

ul, ol {
  margin-left: 40px;
  margin-bottom: 20px;
}

li {
  font-size: 18px;
  color: #444;
  margin-bottom: 5px;
}

li:last-child {
  margin-bottom: 0;
}

aside p, #author {
  font-size: 19px;
}

.related-authors {
  font-weight: bold;
}

.related-list {
  list-style: none;
}


li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

ul+p {
  color: red;
  margin-bottom: 0;
}

a:link, a:visited {
  color: #1098ad;
  text-decoration: none;
}

a:hover {

  color: chocolate;
  text-decoration: underline;
  font-size: 20px;
  transition: 0.3s ease-out;
}

nav a:link {
  margin-right: 20px;
  display: inline-block;
}


nav a:link:last-child {
  margin-right: 0px;
}

button {
  font-size: 25px;
  padding: 20px;
  position: absolute;
  bottom: 50px;
  right: 15px;
  cursor: pointer;
}

/* flexbox layout */

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author {
  margin-bottom: 0px;
  margin-left: 15px;
}

.author-detail {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.related-authors {
  margin-bottom: 0;
  font-weight: normal;
  font-style: italic;
  font-size: 14px;
}

.related-link:link {
  font-weight: bold;
  font-size: 17px;
  display: block;
  margin-bottom: 5px;
}

.related-post {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

/* .content-box {
  display: flex;
  align-items: flex-start;
  gap: 75px;
}

article {
  flex: 1;
}

aside {
  flex: 0 0 300px;
} */

/* grid layout properties */

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 60px;
  row-gap: 60px;
}

.main-header {
  grid-column: 1 / -1;
}

article {
  grid-column: 1 / span 2;
}

aside {
  margin-top: 0px;
  align-self: start;
}

footer {
  grid-column: 1 / -1;
  background-color: #1098ad;
}

/* float layout */

/* .author-img {
  float: left;
  margin-bottom: 20px;
}

.author {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

.main-header h1 {
  float: left;
}

nav {
  float: right;
}

.clearfix::after {
  clear: both;
  content: '';
  display: block;
}

article {
  float: left;
  width: 60%;
}

aside {
  float: right;
  width: 30%;
}

footer {
  clear: both;
} */